@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: vazir;
  src: url(../public/font/Vazir-Medium.woff);
}

body {
  font-family: vazir;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #eab308;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ca8a04;
}
